*~
.Trash-*
.nfs*
.DS_Store
.AppleDouble
.LSOverride

Icon
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DS_Store 
*/.DS_Store

**/node_modules/
.vscode/*
.history
logs
*.log
**/dist
/index.html


Thumbs.db
ehthumbs.db
ehthumbs_vista.db

*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk